name: Build and deploy Python app to Azure Web App

env:
  AZURE_WEBAPP_NAME: SegmentationImages
  PYTHON_VERSION: '3.12'

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  id-token: write  # Requis pour OIDC
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python version
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      
      - name: Cache pip dependencies
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      
      - name: Create and start virtual environment
        run: |
          python -m venv venv
          source venv/bin/activate
      
      - name: Upgrade pip
        run: |
          source venv/bin/activate
          python -m pip install --upgrade pip
      
      - name: Install basic dependencies first
        run: |
          source venv/bin/activate
          pip install --upgrade pip setuptools wheel
          pip list
      
      - name: Show requirements.txt
        run: |
          echo "Contents of requirements.txt:"
          cat requirements.txt
      
      - name: Install dependencies
        run: |
          source venv/bin/activate
          pip install -r requirements.txt
      
      - name: Create deployment package
        run: |
          zip -r deployment.zip . -x "venv/*"
      
      - name: Upload artifact for deployment jobs
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: deployment.zip
  
  deploy:
    permissions:
      id-token: write  # Requis pour OIDC
      contents: read
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Development'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: python-app
          path: .
      
      - name: 'Login to Azure using OIDC'
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      
      - name: 'Deploy to Azure Web App with az CLI'
        run: |
          az webapp deployment source config-zip --resource-group SegmentationImages --name ${{ env.AZURE_WEBAPP_NAME }} --src ./deployment.zip
      
      - name: 'Get deployment URL'
        id: deploy-to-webapp
        run: |
          WEBAPP_URL=$(az webapp show --name ${{ env.AZURE_WEBAPP_NAME }} --resource-group SegmentationImages --query "defaultHostName" -o tsv)
          echo "webapp-url=https://$WEBAPP_URL" >> $GITHUB_OUTPUT
