name: Deploy
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        pip install python-multipart
        
    - name: Start API in background
      run: |
        uvicorn application.api:app --host 0.0.0.0 --port 8000 &
        sleep 10  # Attendre que l'API démarre
    
    - name: Start Streamlit app in background
      run: |
        streamlit run application/app.py &
        sleep 10  # Attendre que Streamlit démarre
    
    - name: Verify API is running
      run: |
        curl --retry 10 --retry-delay 5 --retry-connrefused http://localhost:8000
    
    - name: Verify Streamlit app is running
      run: |
        curl --retry 10 --retry-delay 5 --retry-connrefused http://localhost:8501
    
    - name: Install Heroku CLI
      run: |
        curl https://cli-assets.heroku.com/install.sh | sh
    
    - name: Deploiement sur Heroku
      uses: akhileshns/heroku-deploy@v3.13.15
      with:
        heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
        heroku_app_name: ${{ secrets.HEROKU_APP_NAME }}
        heroku_email: ${{ secrets.HEROKU_EMAIL }}
